* {
    margin: 0;
    padding: 0;
    border:none;
}

#name {
    float: left;
    font-size: 350%;
    margin-left: 50px;
}

#name, #menu {
    line-height: 80px;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #fff000;
}

.active {
    border-bottom: 1px solid #fff000;
}

#star-image {
    height: 550px;
    width: 100%;
}

#topic {
    text-align: center;
    font-size: 400%;
}

.main-img img {
    width: 35%;
    height: 350px;
}

#left-side {
    width: 50%;
    float: left;
    padding-top: 40px;
}

#right-side {
    width: 50%;
    float: right;
    padding-top: 40px;
}

.left-image-text {
    width: 45%;
    float: right;
    line-height: 20px;
    margin-bottom: 50px;
}

.right-image-text {
    width: 45%;
    float: left;
    line-height: 20px;
    margin-bottom: 50px;
}