@import url('https://fonts.googleapis.com/css2?family=Combo&family=Poppins:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border:none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aqua;
}

#name {
    float: left;
    font-size: 350%;
    margin-left: 50px;
    color: darkslateblue;
}

#name, #menu {
    line-height: 80px;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    text-decoration: none;
    color: darkslateblue;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: darkslateblue;
}

#menu a:hover {
    border-bottom: 1px solid #2312D6;
}

.active {
    border-bottom: 1px solid #2312D6;
}

#star-image {
    height: 550px;
    width: 100%;
}

#topic {
    text-align: center;
    font-size: 400%;
}

.main-img img {
    width: 80%;
    height: 350px;
}



.left-image-text {
    width: 50%;
    float: left;
    line-height: 80px;
    text-align: center;
}

.right-image-text {
    width: 50%;
    float: right;
    line-height: 80px;
    text-align: center;
}

.main-img h2 {
    text-align: center;
}

.main-text {
    margin-top: 60px;
}

.main-text h2 {
    font-family: Combo, sans-serif;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-size: 250%;
    text-align: center;
}

.main-text p {
    font-family: Poppins, sans-serif;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
    font-size: 120%;
    text-align: center;
    padding: 0 50px 5px 50px;
}

h2 a {
    text-decoration: none;
}

#galery-link {
    font-size: 150%;
    letter-spacing: 2px;
    text-decoration: none;
    color: darkslateblue;
}


footer {
    background-color: black;
}

.social-media > li {
    display: inline;
}

.social-media a {
    font-size: 60px;
}

.social-media {
    text-align: center;
}

.social-media i {
    font-size: 100%;
    margin: 0.5%;
}

header {
    background-color: black;
}

.galery-text {
    text-align: center;
    font-size: 20px;
    font-family: Combo, sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
}

.galery-photos {
    clear: both;
    column-count: 3;
    column-gap: 0;
    line-height: 0;
}

div > img {
    width: 100%;
}

.contact-us {
    text-align: center;
}

legend {
    font-size: 30px;
}

.form-sign {
    text-align: center;
}

.form-label {
    padding: 30px;
}

.form-section {
    background: url(../images/back3.webp) center center;
    background-size: cover;
    height: 600px;
}

.contact-us {
    font-size: 20px;
    margin-bottom: 3%;
}

.minfo {
    margin: 1%;
}

.bsubmit {
    margin: 2%;
}

.flegend {
    margin: 1.5%;
}

input[type=submit] {
    width: 8em;
    height: 1.5em;
    border-radius: 90%;
}

@media screen and (max-width: 770px) {
    .galery-photos {
        column-count: 2;
    }
    #menu li {
        clear: both;
        float: none;
    }
    #menu {
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .right-image-text {
        width: 100%;
        float: none;
    }
    .left-image-text {
        width: 100%;
        float: none;
    }
    
}

@media screen and (max-width: 450px) {
    #name, #menu {
        line-height: 40px;
    }
}

@media screen and (max-width: 340px) {
    #name {
        margin: 0;
    }
    #star-image {
        height: 350px;
    }
    .galery-photos {
        column-count: 1;
    }
}